<ul class="navbar-nav navbar-right">
    <li>@Html.ActionLink("Register", "Create", "Registrations", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Login", "Login", "Registrations", new { area = "" }, new { @class = "nav-link" })</li>
</ul>
