@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Event Management</h1>
        <p class="lead">We organize events</p>
    </section>

</main>